@{
    ViewData["Title"] = "Home Page";
}

<div class="mainSection">
    <a asp-controller="Api" asp-action="CoinStat_All" class="contactButton">CoinStat</a>

    <a asp-controller="Api" asp-action="CoinLore_Individual" class="contactButton">CoinLore</a>
</div>
